.x1-box {
  position: relative; }
  .x1-box > * {
    top: 30px;
    position: absolute; }
  .x1-box .x1-distance-selector {
    width: 300px;
    margin: 10px;
    display: inline-block;
    left: 30px; }
  .x1-box .x1-distance {
    left: 400px;
    right: 100px; }
